---
layout: base 
title: Media
permalink: /media
---

<br>

<div class='media container spotify'>
  {% for piece in site.media %}
    {% if piece.type == "spotify" %}
      <div class='media element spotify'>
        <iframe src="{{ piece.link }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class='media container youtube'>
  {% for piece in site.media %}
    {% if piece.type == "youtube" %}
      <div class='media element youtube'>
        <iframe width="560" height="315" src="{{ piece.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class='media container tiktok'>
  {% for piece in site.media %}
    {% if piece.type == "tiktok" %}
      <div class='media element tiktok'>
        <div class='media element tiktok title container'>
          <h1 class='media title'>{{ piece.title }}</h1>
        </div>
        <iframe width="340" height="700" src="{{ piece.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    {% endif %}
  {% endfor %}
</div>
