h1 
{
  color: rgb(50, 50, 50);
}

h2
{
  color: rgb(80, 80, 80);
}

h3
{
  color: rgb(110, 100, 110);
  font-style: italic;
}

.block .title 
{
  margin-top: 0.5em
}

.post-tag
{
  border-radius: 20px;
  border: 1px solid #828282;
  color: #828282;
  padding: 1px 5px;
  margin-left: 5px;
}
.post-tag:hover {
    border: 1px solid #a23282;
    text-decoration: none;
    color: #ffffff;
    background: #a23282;
}

figure .center-image
{
    margin: 0 auto;
    display: block;
}

figcaption 
{
  margin: 1em;
  display: block; 
  text-align: center;
  font-weight: bold;
}

.media.container
{
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}

.media.element
{
  margin: auto;
}

.tiktok.title.container
{
  display: flex;
}

.tiktok.title.container > h1
{
  width: 0;
  flex-grow: 1;
}

.tiktok.element
{
  margin: 1%;
}
