---
layout: base
---
<head>
  <!-- Download AJAX library -->
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <!-- Download MathJax library for rendering tex -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: [
        "MathMenu.js",
        "MathZoom.js",
        "AssistiveMML.js",
        "a11y/accessibility-menu.js"
      ],
      jax: ["input/TeX", "output/CommonHTML"],
      TeX: {
        extensions: [
          "AMSmath.js",
          "AMSsymbols.js",
          "noErrors.js",
          "noUndefined.js",
        ]
      }
    });
  </script>
</head>
<div class="post block">
  <h1 class="post title">{{ page.title }}</h1>
  <h3 class="post date">Written on {{ page.date | date_to_string }} </h3>
  <br/>
</div>
<div class="post content">
  {{ content }}
</div>
